Redirect 301 /fpp2/buy-on-amazon.html https://www.amazon.com/dp/0987507117?tag=otexts-20
Redirect 301 /fpp/1/1 https://otexts.com/fpp2/what-can-be-forecast.html
Redirect 301 /fpp/1/2 https://otexts.com/fpp2/planning.html
Redirect 301 /fpp/1/3 https://otexts.com/fpp2/determining-what-to-forecast.html
Redirect 301 /fpp/1/4 https://otexts.com/fpp2/data-methods.html
Redirect 301 /fpp/1/5 https://otexts.com/fpp2/case-studies.html
Redirect 301 /fpp/1/6 https://otexts.com/fpp2/basic-steps.html
Redirect 301 /fpp/1/7 https://otexts.com/fpp2/perspective.html
Redirect 301 /fpp/1/8 https://otexts.com/fpp2/intro-exercises.html
Redirect 301 /fpp/1/9 https://otexts.com/fpp2/intro-reading.html
Redirect 301 /fpp/1 https://otexts.com/fpp2/intro.html
Redirect 301 /fpp/2/1 https://otexts.com/fpp2/graphics.html
Redirect 301 /fpp/2/2 https://otexts.com/fpp2/autocorrelation.html
Redirect 301 /fpp/2/3 https://otexts.com/fpp2/simple-methods.html
Redirect 301 /fpp/2/4 https://otexts.com/fpp2/transformations.html
Redirect 301 /fpp/2/5 https://otexts.com/fpp2/accuracy.html
Redirect 301 /fpp/2/6 https://otexts.com/fpp2/residuals.html
Redirect 301 /fpp/2/7 https://otexts.com/fpp2/prediction-intervals.html
Redirect 301 /fpp/2/8 https://otexts.com/fpp2/toolbox-exercises.html
Redirect 301 /fpp/2/9 https://otexts.com/fpp2/toolbox-reading.html
Redirect 301 /fpp/2/a https://otexts.com/fpp2/the-forecast-package-in-r.html
Redirect 301 /fpp/3/1 https://otexts.com/fpp2/judgmental.html
Redirect 301 /fpp/3/2 https://otexts.com/fpp2/judgmental-limitations.html
Redirect 301 /fpp/3/3 https://otexts.com/fpp2/judgmental-principles.html
Redirect 301 /fpp/3/4 https://otexts.com/fpp2/delphimethod.html
Redirect 301 /fpp/3/5 https://otexts.com/fpp2/analogies.html
Redirect 301 /fpp/3/6 https://otexts.com/fpp2/scenarios.html
Redirect 301 /fpp/3/7 https://otexts.com/fpp2/new-products.html
Redirect 301 /fpp/3/8 https://otexts.com/fpp2/judgmental-adjustments.html
Redirect 301 /fpp/3/9 https://otexts.com/fpp2/judgmental-reading.html
Redirect 301 /fpp/4/1 https://otexts.com/fpp2/regression-intro.html
Redirect 301 /fpp/4/2 https://otexts.com/fpp2/least-squares.html
Redirect 301 /fpp/4/3 https://otexts.com/fpp2/regression-intro.html#
Redirect 301 /fpp/4/4 https://otexts.com/fpp2/regression-evaluation.html
Redirect 301 /fpp/4/5 https://otexts.com/fpp2/forecasting-regression.html
Redirect 301 /fpp/4/7 https://otexts.com/fpp2/nonlinear-regression.html
Redirect 301 /fpp/4/8 https://otexts.com/fpp2/forecasting-regression.html
Redirect 301 /fpp/4/10 https://otexts.com/fpp2/regression-exercises.html
Redirect 301 /fpp/4/11 https://otexts.com/fpp2/regression-reading.html
Redirect 301 /fpp/4 https://otexts.com/fpp2/regression.html
Redirect 301 /fpp/5/1 https://otexts.com/fpp2/regression-intro.html
Redirect 301 /fpp/5/2 https://otexts.com/fpp2/useful-predictors.html
Redirect 301 /fpp/5/3 https://otexts.com/fpp2/selecting-predictors.html
Redirect 301 /fpp/5/4 https://otexts.com/fpp2/regression-evaluation.html
Redirect 301 /fpp/5/5 https://otexts.com/fpp2/regression-matrices.html
Redirect 301 /fpp/5/6 https://otexts.com/fpp2/nonlinear-regression.html
Redirect 301 /fpp/5/7 https://otexts.com/fpp2/causality.html
Redirect 301 /fpp/5/8 https://otexts.com/fpp2/regression-exercises.html
Redirect 301 /fpp/5 https://otexts.com/fpp2/regression-intro.html
Redirect 301 /fpp/6/1 https://otexts.com/fpp2/components.html
Redirect 301 /fpp/6/2 https://otexts.com/fpp2/moving-averages.html
Redirect 301 /fpp/6/3 https://otexts.com/fpp2/classical-decomposition.html
Redirect 301 /fpp/6/4 https://otexts.com/fpp2/x11.html
Redirect 301 /fpp/6/5 https://otexts.com/fpp2/stl.html
Redirect 301 /fpp/6/6 https://otexts.com/fpp2/forecasting-decomposition.html
Redirect 301 /fpp/6/7 https://otexts.com/fpp2/decomposition-exercises.html
Redirect 301 /fpp/6/8 https://otexts.com/fpp2/decomposition-reading.html
Redirect 301 /fpp/6 https://otexts.com/fpp2/decomposition.html
Redirect 301 /fpp/7/1 https://otexts.com/fpp2/ses.html
Redirect 301 /fpp/7/2 https://otexts.com/fpp2/holt.html
Redirect 301 /fpp/7/3 https://otexts.com/fpp2/holt.html
Redirect 301 /fpp/7/4 https://otexts.com/fpp2/holt.html
Redirect 301 /fpp/7/5 https://otexts.com/fpp2/holt-winters.html
Redirect 301 /fpp/7/6 https://otexts.com/fpp2/taxonomy.html
Redirect 301 /fpp/7/7 https://otexts.com/fpp2/ets.html
Redirect 301 /fpp/7/8 https://otexts.com/fpp2/expsmooth-exercises.html
Redirect 301 /fpp/7/9 https://otexts.com/fpp2/expsmooth-reading.html
Redirect 301 /fpp/7 https://otexts.com/fpp2/expsmooth.html
Redirect 301 /fpp/8/1 https://otexts.com/fpp2/stationarity.html
Redirect 301 /fpp/8/2 https://otexts.com/fpp2/backshift.html
Redirect 301 /fpp/8/3 https://otexts.com/fpp2/AR.html
Redirect 301 /fpp/8/4 https://otexts.com/fpp2/MA.html
Redirect 301 /fpp/8/5 https://otexts.com/fpp2/non-seasonal-arima.html
Redirect 301 /fpp/8/6 https://otexts.com/fpp2/arima-estimation.html
Redirect 301 /fpp/8/7 https://otexts.com/fpp2/arima-r.html
Redirect 301 /fpp/8/8 https://otexts.com/fpp2/arima-forecasting.html
Redirect 301 /fpp/8/9 https://otexts.com/fpp2/seasonal-arima.html
Redirect 301 /fpp/8/10 https://otexts.com/fpp2/arima-ets.html
Redirect 301 /fpp/8/11 https://otexts.com/fpp2/arima-exercises.html
Redirect 301 /fpp/8/12 https://otexts.com/fpp2/arima-reading.html
Redirect 301 /fpp/8 https://otexts.com/fpp2/arima.html
Redirect 301 /fpp/9/1 https://otexts.com/fpp2/dynamic.html
Redirect 301 /fpp/9/2 https://otexts.com/fpp2/VAR.html
Redirect 301 /fpp/9/3 https://otexts.com/fpp2/nnetar.html
Redirect 301 /fpp/9/4 https://otexts.com/fpp2/hierarchical.html
Redirect 301 /fpp/9/5 https://otexts.com/fpp2/advanced-reading.html
Redirect 301 /fpp/9 https://otexts.com/fpp2/advanced.html
Redirect 301 /fpp/data https://otexts.com/fpp2/appendix-using-r.html
Redirect 301 /fpp/using-r https://otexts.com/fpp2/appendix-using-r.html
Redirect 301 /fpp/resources https://otexts.com/fpp2/appendix-for-instructors.html
Redirect 301 /fpp/reviews https://otexts.com/fpp2/appendix-reviews.html
Redirect 301 /fpp/authors https://otexts.com/fpp2/about-the-authors.html
Redirect 301 /sites/default/files/fpp/images/Table7-8.png https://otexts.com/fpp2/taxonomy.html
Redirect 301 /sites/default/files/fpp/images/Table7-10.png https://otexts.com/fpp2/ets.html#other-ets-models
Redirect 301 /fpp https://otexts.com/fpp2
Redirect 301 /book/fpp https://otexts.com/fpp2
RedirectMatch 301 /sites/(.*) https://otexts.com

#Added by Siteground administrators to prevent server overload due to bot requests
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} Wget [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .* - [F,L]
#end of Siteground rules

RewriteCond %{HTTP_HOST} ^www\.otexts\.com$ [NC]
RewriteRule  ^(.*)$ https://otexts.com/$1 [R=301,L]

ErrorDocument 404 /404.html
