/* css styles */
.btn-success {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #c14b14;
    --bs-btn-border-color: #c14b14;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #234460;
    --bs-btn-hover-border-color: #234460;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #234460;
    --bs-btn-active-border-color: #234460;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #c14b14;
    --bs-btn-disabled-border-color: #c14b14;
}
